*{
  margin:0px;
  padding:0px;
}
.app{
  width: 950px;
  background-color: silver;
  margin: 0px auto;
}
.header {
  height: 150px;
  margin:10px;
  background-color: green;
}
.navigation {
  vertical-align: top;
  display: inline-block;
  height: 300px;
  width: 200px;
  background-color: blue;
}
.main {
  vertical-align: top;
  display: inline-block;
  height: 400px;
  width: 700px;
  background-color: red;
}
.sub-content {
  display: inline-block;
  vertical-align: top;
  height: 200px;
  width: 210px;
  background-color: yellow;
}
.advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
}
.row {
  display:flex;
  align-items: top;
}